image: maven:3.6.3-openjdk-8-slim

default:
  tags:
    - docker
    
variables:
  MAVEN_CLI_OPTS: "-s .m2/settings.xml --batch-mode"
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"

cache:
  paths:
    - .m2/repository/
    - org.javacream.training.store.web/target/

build:
  stage: build
  script:
    - mvn $MAVEN_CLI_OPTS compile

test:
  stage: test
  script:
    - mvn $MAVEN_CLI_OPTS test

deploy:
  stage: deploy
  artifacts:
    paths:
      - org.javacream.training.store.web/target/*.jar
  script:
    - mvn $MAVEN_CLI_OPTS -Dmaven.test.skip deploy
  only:
    - spring_boot_application